.row1, .row2, .row3, .row4, .row5{
    display: flex;
    }

.rowComb, .rowComb2 {
    display: flex;
}

.button {
    height: 20px;
    width: 20px;
    margin: 5px;
}

#equals, #clear {
    height: 50px;
    width: 20px;
    margin: 5px;
}